body{
  margin:0;
  font-family: sans-serif;
}

/* Products */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

.card img {
  height: 150px;
  object-fit: contain;
}